/* Estilos generales del navbar */
#body {
    background-color: white;
}
#nav {
    background-color: green;
    border-color: #d1d5db;
    border-radius: 10px;
}

.dark #nav {
    background-color: #111827;
}

/* Contenedor principal */
.nav-container {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
}

/* Logo */
.nav-logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;
}

.nav-logo img {
    height: 40px;
}

.nav-logo span {
    font-size: 30px;
    font-weight: 600;
    color: black;
    
}      


.dark .nav-logo span {
    color: white;
}





/* Lista de navegación */
.nav-list {
    font-weight: 500;
    display: flex;
    flex-direction: row;
    padding: 4px;
    margin-top: 4px;
    gap: 15px;
    border-radius: 1px;
}





/* Enlaces de navegación */
.nav-item {
    display: block;
    padding: 0.5rem 0.75rem;
    color: #111827;
    border-radius: 0.25rem;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #f3f4f6;
    color: #2563eb;
}



#img{
    position: relative;
    margin: 12px auto;
    background-image: url('public/imagenes/asasd2.png');
    background-position: center;
    width: 85%;
    height: 400px;
}

#text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

